<form action="/todo/created/" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>Create Todo</h1></legend>
    {%  if error_message %}<p><strong>{{error_messagem}}</strong></p>{% endif %}
    <div> 
        <label for="description">description: </label>
        <input id="description" name="description" placeholder="description" type="text">
    </div>
    <div> 
        <label for="priority">Priority: </label> 
        <input type="radio" name="priority" value="H" id="high">High</input>
        <input type="radio" name="priority" value="M" id="medium">Medium</input>
        <input type="radio" name="priority" value="L" id="low">Low</input>
        <input type="radio" name="priority" value="N" id="none" checked>None</input>
    </div> 
    <button type="submit">Create Todo</button> 
</form>
